In [4]:
import mysql.connector

ModuleNotFoundError: No module named 'mysql'

In [5]:
pip install mysql-connector-python

Collecting mysql-connector-pythonNote: you may need to restart the kernel to use updated packages.

  Downloading mysql_connector_python-9.1.0-cp313-cp313-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.1.0-cp313-cp313-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
    --------------------------------------- 0.3/16.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.1 MB 3.5 MB/s eta 0:00:05
   - -------------------------------------- 0.8/16.1 MB 1.7 MB/s eta 0:00:09
   -- ------------------------------------- 1.0/16.1 MB 1.5 MB/s eta 0:00:10
   --- ------------------------------------ 1.3/16.1 MB 1.5 MB/s eta 0:00:11
   --- ------------------------------------ 1.6/16.1 MB 1.4 MB/s eta 0:00:11
   ----- ---------------------------------- 2.1/16.1 MB 1.5 MB/s eta 0:00:10
   ----- ---------------------------------- 2.4/16.1 MB 1.5 MB/s eta 0:00:10
   ------ --------------------------------- 2.6/16.1 MB 1.5 MB/s eta 0:00:09
   ------- -------------------------------- 3.1/16.1 MB 1.6 MB/s eta 0:00:09
   -------- ------------------------------- 3.4/16.1 MB 1.5 MB/s eta 0:00:09
   --------- ------------------------------ 3.9/16.1 MB 1.6 MB/s eta 0:00:08
   ---------- ----------------------------- 4.2/16.1 MB 1.6 MB/s eta 0:00:08
   ------------ --------------------------- 5.0/16.1 MB 1.8 MB/s eta 0:00:07
   --------------- ------------------------ 6.0/16.1 MB 2.0 MB/s eta 0:00:05
   ----------------- ---------------------- 7.1/16.1 MB 2.2 MB/s eta 0:00:05
   -------------------- ------------------- 8.1/16.1 MB 2.4 MB/s eta 0:00:04
   ---------------------- ----------------- 9.2/16.1 MB 2.5 MB/s eta 0:00:03
   ------------------------- -------------- 10.2/16.1 MB 2.7 MB/s eta 0:00:03
   ---------------------------- ----------- 11.3/16.1 MB 2.8 MB/s eta 0:00:02
   ------------------------------ --------- 12.3/16.1 MB 2.9 MB/s eta 0:00:02
   --------------------------------- ------ 13.4/16.1 MB 3.0 MB/s eta 0:00:01
   ----------------------------------- ---- 14.4/16.1 MB 3.1 MB/s eta 0:00:01
   -------------------------------------- - 15.5/16.1 MB 3.2 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 3.2 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 3.1 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

In [43]:
import mysql.connector

In [44]:
# Connecting to DataBase
def connect_to_database():
    try:
        connection = mysql.connector.connect(
            host="localhost",       # Replace with your MySQL server host
            user="root",            # Replace with your MySQL username
            password="cfg@1234", # Replace with your MySQL password
            database="company"      # Replace with your database name
        )
        print("Connected to database successfully!")
        return connection
    except mysql.connector.Error as e:
        print("Error connecting to MySQL:", e)
        return None

connect_to_database()

Connected to database successfully!

In [74]:
# CRUD OPERATIONS
# Creating Employee 
def add_employee(connection):
    cursor = connection.cursor()
    ID=input("Enter employee ID: ")
    name = input("Enter employee name: ")
    department = input("Enter department: ")
    salary = input("Enter salary: ")
    query = "INSERT INTO employee (ID,name, department, salary) VALUES (%s, %s, %s, %s)"
    cursor.execute(query, (ID,name, department, salary))
    connection.commit()
    print("Employee added successfully!")

In [75]:
# Reading Employess from DataBase
def view_employees(connection):
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM employee")
    records = cursor.fetchall()
    print("\nEmployee Records:")
    print("ID | Name | Department | Salary")
    for row in records:
        print(f"{row[0]} | {row[1]} | {row[2]} | {row[3]}")
    print()

In [76]:
# Updating Employees 
def update_employee(connection):
    cursor = connection.cursor()
    emp_id = input("Enter employee ID to update: ")
    print("1. Update Department\n2. Update Salary\n3. Update Both")
    choice = input("Select an option: ")

    if choice == "1":
        department = input("Enter new department: ")
        query = "UPDATE employee SET department = %s WHERE id = %s"
        cursor.execute(query, (department, emp_id))
    elif choice == "2":
        salary = input("Enter new salary: ")
        query = "UPDATE employee SET salary = %s WHERE id = %s"
        cursor.execute(query, (salary, emp_id))
    elif choice == "3":
        department = input("Enter new department: ")
        salary = input("Enter new salary: ")
        query = "UPDATE employee SET department = %s, salary = %s WHERE id = %s"
        cursor.execute(query, (department, salary, emp_id))
    else:
        print("Invalid choice!")
        return

    connection.commit()
    print("Employee record updated successfully!")

In [77]:
# Deleting Employees form DataBase
def delete_employee(connection):
    cursor = connection.cursor()
    emp_id = input("Enter employee ID to delete: ")
    query = "DELETE FROM employee WHERE id = %s"
    cursor.execute(query, (emp_id,))
    connection.commit()
    print("Employee deleted successfully!")

In [83]:
# Deleting ALL Employees form DataBase
def delete_all_employees(connection):
    cursor = connection.cursor()
    query = "DELETE FROM employee"
    cursor.execute(query)
    connection.commit()
    print("ALL Employees deleted successfully!")

In [84]:
# Main Program Logic
def main():
    connection = connect_to_database()
    if not connection:
        return
    
    while True:
        print("\nEmployee Management System")
        print("1. Add Employee")
        print("2. View Employees")
        print("3. Update Employee")
        print("4. Delete Employee")
        print("5. Delete all Employees")
        print("6. Exit")
        
        choice = input("Select an option: ")

        if choice == "1":
            add_employee(connection)
        elif choice == "2":
            view_employees(connection)
        elif choice == "3":
            update_employee(connection)
        elif choice == "4":
            delete_employee(connection)
        elif choice == "5":
            delete_all_employees(connection)
        elif choice == "6":
            print("Exiting program...")
            connection.close()
            break
        else:
            print("Invalid choice! Please try again.")

In [93]:
main()

Connected to database successfully!

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Delete all Employees
6. Exit

Select an option:  1
Enter employee ID:  1
Enter employee name:  Sakshi
Enter department:  Data Engineer
Enter salary:  30000

Employee added successfully!

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Delete all Employees
6. Exit

Select an option:  1
Enter employee ID:  2
Enter employee name:  Tushar
Enter department:  SDE 2
Enter salary:  50000

Employee added successfully!

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Delete all Employees
6. Exit

Select an option:  1
Enter employee ID:  3
Enter employee name:  Sushil
Enter department:  IT
Enter salary:  40000

Employee added successfully!

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Delete all Employees
6. Exit

Select an option:  1
Enter employee ID:  4
Enter employee name:  Riya
Enter department:  HR
Enter salary:  45000

Employee added successfully!

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Delete all Employees
6. Exit

Select an option:  2

Employee Records:
ID | Name | Department | Salary
1 | Sakshi | Data Engineer | 30000.00
2 | Tushar | SDE 2 | 50000.00
3 | Sushil | IT | 40000.00
4 | Riya | HR | 45000.00


Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Delete all Employees
6. Exit

Select an option:  3
Enter employee ID to update:  1

1. Update Department
2. Update Salary
3. Update Both

Select an option:  3
Enter new department:  Data Science
Enter new salary:  55000

Employee record updated successfully!

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Delete all Employees
6. Exit

Select an option:  2

Employee Records:
ID | Name | Department | Salary
1 | Sakshi | Data Science | 55000.00
2 | Tushar | SDE 2 | 50000.00
3 | Sushil | IT | 40000.00
4 | Riya | HR | 45000.00


Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Delete all Employees
6. Exit

Select an option:  4
Enter employee ID to delete:  3

Employee deleted successfully!

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Delete all Employees
6. Exit

Select an option:  2

Employee Records:
ID | Name | Department | Salary
1 | Sakshi | Data Science | 55000.00
2 | Tushar | SDE 2 | 50000.00
4 | Riya | HR | 45000.00


Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Delete all Employees
6. Exit

Select an option:  5

ALL Employees deleted successfully!

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Delete all Employees
6. Exit

Select an option:  6

Exiting program...